@import './base.css';

#app {
  width: 100%;
  margin: 0;
  font-weight: normal;
}

.table-actions-conatiner {
  display: flex;
  gap: 10px;
}

.modal-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}